html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  --primaryColor: #fca311;
  --secondaryColor: #14213d;
  --blackColor: #000000;
  --whiteColor: #ffffff;
  --grayColor: #e5e5e5;
}
